/*
 * Styling specifically for the home page. 
 */

/* Date slider */

#slider{
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
}

#slidervalue{
  margin-bottom: 25px;
  font-size: 14px;
}

#dataselector{
  width: 650px;
  margin: auto;
  text-align: right;
  font-size: 14px;
}

/* Map element */

.container{
  fill: #e2e6e7;
}

.districts{
  fill: #C1C1C1;
}

.district-boundary{
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.legend {                                                   
  font-size: 12px;                                          
} 

#nepalmap {
  color: black;
  font-size: 14px;
}

#maptitle{
  font: 25px 'Oswald' sans-serif;
}

.button{
  font: 15px 'Oswald' sans-serif;
}

/* Tooltip element (on the map) */

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

div.tooltip.hidden {
        display: none;
}

div.tooltip p {
        margin: 0;
        font: 14px 'Arvo' serif;
        line-height: 19px;
}

/* Tooltip: from http://bl.ocks.org/Caged/6476579 */

.d3-tip {
  font: 10px sans-serif;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
